@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  background: url("../images/fundo.jpg") no-repeat center fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;

  font-size: 27px;
  font-family: poppins;
  color: #bd0404;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.blur-background {
  filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #ffffffb0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.logo img {
  width: 130px;
  border-radius: 50%;
  background-color: #f5df2e;
  background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
  margin: 10px;
}

.top-bar {
  /* overflow: hidden; */
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.card.blur {
  background: #ffffff7d !important;
}

.tit-li {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.precio {
  color: #bd0404;
}

.traduccion {
  font-style: oblique;
}

.obs {
  color: #bd0404;
  font-weight: bold;
}

.card,
ul,
ol {
  margin-bottom: 0px !important;
}

.panel-group .panel-primary .panel-title {
  background-color: #0d1199 !important;
  border-color: #0d1199 !important;
}

.panel-group .panel-primary {
  border: 1px solid #0d1199 !important;
}

.panel-group,
.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.contacto {
  padding: 0px;
  margin: 0px;
  font-size: 11px;
  font-weight: normal;
  background: white;
  width: 100%;
  padding: 0 12px;
  line-height: 0px;
  bottom: 0px;
  position: fixed;
  display: block;
}

.container-fluid {
  margin-bottom: 150px;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: 240px;
  margin: auto;
}
